<div class="profile-container">
  <div class="profile-field">
    <h3 class="field-label">Firstname: {{currUser.firstname}}</h3>
    <input [(ngModel)]="newFirstName" type="text" class="form-input" />
    <button (click)="updateUser('firstname', newFirstName)" class="btn-update">Update</button>
  </div>

  <div class="profile-field">
    <h3 class="field-label">Lastname: {{currUser.lastname}}</h3>
    <input [(ngModel)]="newLastName" type="text" class="form-input" />
    <button (click)="updateUser('lastname', newLastName)" class="btn-update">Update</button>
  </div>

  <div class="profile-field">
    <h3 class="field-label">Address: {{currUser.address}}</h3>
    <input [(ngModel)]="newAddress" type="text" class="form-input" />
    <button (click)="updateUser('address', newAddress)" class="btn-update">Update</button>
  </div>

  <div class="profile-field">
    <h3 class="field-label">Email: {{currUser.email}}</h3>
    <input [(ngModel)]="newEmail" type="email" class="form-input" />
    <button (click)="updateUser('email', newEmail)" class="btn-update">Update</button>
  </div>

  <div class="profile-field">
    <h3 class="field-label">Credit card number: {{currUser.creditCardNumber}}</h3>
    <input [(ngModel)]="newCreditCardNumber" type="text" class="form-input" />
    <button (click)="updateUser('credit_card_number', newCreditCardNumber)" class="btn-update">Update</button>
  </div>

  <div class="profile-field">
    <h3 class="field-label">Phone number: {{currUser.phoneNumber}}</h3>
    <input [(ngModel)]="newPhoneNumber" type="text" class="form-input" />
    <button (click)="updateUser('phone_number', newPhoneNumber)" class="btn-update">Update</button>
  </div>

  <div class="profile-picture-section">
    <img [src]="currUser.profilePicture || 'assets/default.png'" alt="Profile image" class="profile-image" />
    <div class="upload-controls">
      <input type="file" (change)="onFileSelected($event)" class="file-input" />
      <button (click)="uploadProfilePicture()" class="btn-upload">Upload</button>
    </div>
  </div>
</div>