<div class="password-change-section">
  <h3>Change password</h3>
  <hr />

  <div class="form-row">
    <label>Old password:</label>
    <input type="password" name="old-password" [(ngModel)]="oldPassword" />
  </div>

  <div class="form-row">
    <label>New password:</label>
    <input type="password" name="new-password" [(ngModel)]="newPassword" />
  </div>

  <div class="form-row">
    <label>Repeat new password:</label>
    <input type="password" name="rep-new-password" [(ngModel)]="repNewPassword" />
  </div>

  <button class="action-button" (click)="changePassword()">Change password</button>
</div>
